.topnav {
    background-color: #0e3c92;
    overflow: hidden;
  }
  
  img {
    padding-top: 15px;
    height: 35px;
    width: 35px;
  }
  
  body {
    margin: 0; 
    background-color: rgb(255, 255, 255);  
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
   
  }
  
  .page-title {
    font-size: 170%; 
    font-weight: bold;
    padding-left: 17px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
  
  .footer {
    background-color: rgb(180, 180, 180);
    overflow: hidden;
    padding: 14px 16px;
    font-size: 17px;
    color: #000000;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  
  .topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav div {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
  }
  
  .home {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  table {
    margin-left: 80px;
    margin-top: 15px;
    width:50%;
  }
   
  th, td {
    padding: 15px;
    text-align: left;
    
  }
  
  .button {
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    margin-top: 15px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }
  
  .success-button {
    margin-top: 30px;
    background-color: SteelBlue;
    font-size: 50px;
    margin-left: 100px;
    color: white;
    width: 15%;
  }
  
  .message {
    margin-top: 15px;
    color:#7a1b1b;
    font-size: 20px;
  }
  
  .success-message {
    margin-top: 15px;
    color:green;
    font-size: 20px;
    text-align: center;
  }
  
  .text-box {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    width: 100%;
  }
  
  .text-box-title {
    width: 100%;
  }
  
  .body-content-colour {
    
    border-radius: 5px;
    background-color: #f2f2f2; 
    padding: 20px;
    
  }
  
  .form-field-spacing {
   
    margin-right: 100px;
    margin-top: 30px;
    display: inline-block;
    box-sizing: border-box;
   margin-left: 100px;
    
  }
  
  .currency {
    text-align: right;
  }
  
  .total {
    font-weight: bold;
    text-align: left;
   
  }
  
  .radio {
    margin: 16px 0;
  }
  
  .dropdown {
    margin: 10px 0;
    font-family: Segoe UI, Arial, Helvetica, sans-serif;
    height: 40px;
    border-radius: 4px;
  }
  h1{
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 60px;

  }
  h2{
    text-align: center;
    color: green;
  }
  h3{
    text-align: center;
    color: green;
    margin-left: 100px;
  }
  h4{
    margin-left: 100px;
    color: gray;
    font-size: 30px;
  }
  .name-box{
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 500%;

  }